{% extends 'application/base_login.html.twig' %}

{% block title %}{{ 'application.general.login_title'|trans({}, 'application') }}{% endblock %}

{% block body %}
    {% if invalidSSO is defined and invalidSSO %}
        <div class="sso-invalid-link text-center badge-warning rounded mt-2">
            {{ "application.general.sso_invalid_link"|trans({},'application') }}
        </div>
    {% endif %}
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="col-sm-4">
            {{ form_start(form, {'attr':{'class': 'login-form'}}) }}
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h5 class="mb-0">{{ 'application.general.reset_password'|trans({}, 'application') }}</h5>
                        <span class="d-block text-muted">{{ 'application.general.reset_password_help'|trans({}, 'application')|nl2br }}</span>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}">
                    <div class="form-group">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'application.user.username'|trans({}, 'application')}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-right w-100">
                        <button type="submit" class="btn btn-primary btn-lg">
                            {{ 'application.general.reset_password_button'|trans({}, 'application') }}
                        </button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
