{% extends 'application/base.html.twig' %}

{% block body %}
    {% set archivedScopesToggleIsActive = (app.request.query.get('archived') == "1") ? true : false %}
    {% set activeProject = app.session.get(constant("App\\Service\\ProjectService::CURRENT_PROJECT_SESSION_KEY")) %}
    {% if paywallMessage is defined and paywallMessage != '' %}
        <div>
            <div class="text-center badge-warning rounded">
                {{ "paywall.project_limit"|trans({},'paywall') }} <a href="{{ path('app_pricing') }}">{{ "application.pricing.pricing"|trans({},'application') }}</a>
            </div>
        </div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-xl-12">
            <div class="main-card card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <div class="input-group">
                                <input type="search" id="search-projects-input"
                                       data-url="{{ path("app_project_filter") }}"
                                       data-archived="{{ app.request.query.get('archived') }}"
                                       class="form-control w-75 mr-1"
                                       placeholder="{{ 'application.project.search_by_name'|trans({},'application') }}"
                                       value="{{ app.request.query.get('searchTerm') }}"
                                       autofocus="autofocus"/>
                                {#  button is only for aesthetics  #}
                                <button type="button" class="search-projects-button btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            <div class="form-check form-check-inline float-right">
                                <div class="form-check form-check-inline show-archived-button">
                                    <a class="toggle btn mr-1 btn-light child-toggle stream-toggle {{ archivedScopesToggleIsActive ? 'on' : 'off' }}"
                                       href="{{ path('app_project_index', { "archived": not archivedScopesToggleIsActive }) }}" data-toggle="toggle" role="button" style="width: 5%">
                                        <input class="form-check-input" type="checkbox" data-toggle="toggle" data-style="mr-1">
                                        <div class="toggle-group">
                                            <label class="btn btn-primary toggle-on">On</label>
                                            <label class="btn btn-light toggle-off">Off</label>
                                            <span class="toggle-handle btn btn-light"></span>
                                        </div>
                                    </a>
                                    <label class="toggle-label mt-2" class="form-check-label"> Show Archived Scopes</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'application/project/project_table.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'application/project/modals/_add_project_modal.html.twig' %}
    {% include 'application/project/modals/_import_toolbox_modal.html.twig' %}

    {% if projects.results | length > 0 %}
        {{ render(controller('App\\Controller\\Application\\ReportingController::overview', {project: projects.results|first })) }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('front/js/projectOverview.js?v=1.0') }}"></script>
    <script type="application/javascript" src="{{ asset('front/js/assessment.charts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('front/js/selectAll.js?v=1.0') }}"></script>
    <script type="application/javascript" src="{{ asset('front/js/projects.js?v=1.4') }}"></script>
{% endblock %}
